@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #000010;
    /* background-color: rgb(25,25,25); */
    color: white;
}
.card{
    background-color: #07030f;
    
    border: 1px solid rgb(91, 113, 88);
}
.header{
    background-color: rgb(2, 1, 4);
}